.footer {
    padding-top: 26px;

    &__content {
        padding: 0 280px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
    }

    &__item {
        display: flex;
        align-items: center;
        font-size: 13px;
        margin-bottom: 12px;
    }

    &__title {
        font-family: "Cormorant";
        font-size: 15px;
        line-height: 130%;
        width: 80%;
        text-align: left;
        margin-bottom: 20px;
    }

    &__image {
        margin-right: 14px;
    }

    &__bottom {
        text-align: center;
        font-size: 10px;
        line-height: 95%;
        padding-bottom: 17px;
    }
}

@media (max-width: 800px) {

    .footer {

        &__top {
            flex-direction: column;
        }

        &__column:not(:last-child) {
            border-bottom: 1px solid rgb(235, 235, 235);
        }

        &__title::after {
            content: url("/img/arrow.svg");
            position: absolute;
            right: 0;
            margin-top: -15px;
            display: block;
        }

        &__list {
            display: none;
        }
    }

    .socials {
        display: flex;

    }

    .show {
        display: block;
    }

    .expanded::after {
        content: url("/img/arrow.svg");
        position: absolute;
        right: 3px;
        margin-top: -15px;
        display: block;
        transform: rotate(90deg);
    }

}