
.reg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__inputs {
        display: flex;
    }

    &__name {
        margin-right: 30px;
    }

    &__name, &__email {
        width: 100%;
        border-radius: 5px;
        padding: 13px 50px;
        font-size: 15px;
        color: rgb(88, 88, 88);
    }

    &__name::before {
        content: "\f2bd";
    }

    &__email::before {
        content: "\f0e0";
    }

    &__button {
        position: relative;
    }

    &__button::before {
        content: '';
        opacity: 0.5;
        position: absolute;
        width: 140%;
        height: 100%;
        left: -20%;
        transition: 0.3s;
        background-image: url('../img/main-form-left-arrow.png');
        background-position: left center;
        background-repeat: no-repeat;
        animation: slideArrows 1.5s 0s infinite both;
        filter: hue-rotate(180deg);
    }

    &__button::after {
        content: '';
        opacity: 0.5;
        position: absolute;
        width: 140%;
        height: 100%;
        left: -20%;
        transition: 0.3s;
        background-image: url('../img/main-form-right-arrow.png');
        background-position: right center;
        background-repeat: no-repeat;
        animation: slideArrows 1.5s 0s infinite both;
        filter: hue-rotate(180deg);
    }

    button {
        line-height: 27px;
        margin-left: 15px;
        margin-top: 40px;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 3px;
        text-transform: uppercase;
        color: #fff;
        background: linear-gradient(90deg, #1EACF5 0%, #1885BC 100%);
        box-shadow: 0 0 15px 0 #1eacf5;
        padding-left: 75px;
        font-weight: 700;
        font-size: 20px;
        position: relative;

        &::before {
            position: absolute;
            display: block;
            content: "";
            width: 132px;
            height: 126px;
            background: url('../img/main-form-button.png') center center no-repeat;
            background-size: 100% 100%;
            z-index: 2;
            left: -70px;
            top: 50%;
            margin-top: -63px;
            pointer-events: none;
            -webkit-transition: 0.3s;
            transition: 0.3s;
            filter: hue-rotate(180deg);
        }
    }

    .policy {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        padding: 4px;
        margin-bottom: 20px;

        label  {
        font-size: 11px;
        line-height: 14px;
        max-width: 400px;
            
            a {
            color: #007bff;
            }
        }
    }
}


.logos {
    display: flex;
    width: 700px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    
    li {
        padding: 10px 15px;
    }
}

