.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: white;

    &__top {
        position: relative;
        text-align: center;
        padding: 4px 0;
        background-color:rgba(247, 247, 247, 1);
        

        &--stores {
            position: absolute;
            right: 22px;
            font-size: 10px;
            font-weight: 400;
            line-height: 16.5px;
            background-image: url('../img/location.svg');
            background-position: left center;
            background-repeat: no-repeat;
            background-size: 13px 13px;
            padding-left: 17px;
        }

        &--delivery {
            font-size: 11px;
            line-height: 16.5px;
            letter-spacing: 0.8px;
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        height: 108px;
        margin-top: 24px;
        padding: 0 22px;
        background-color: #fff;
    }

    &__logo {
        font-size: 38px;
        line-height: 40px;
        font-weight: 600;
        letter-spacing: 0.8px;
        color: rgba(51, 51, 51, 1);
    }

    .nav {
        margin-top: 26px;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.8px;
        text-transform: uppercase;

        &__item {
            font-weight: 600;
            font-size: 13px;
            line-height: 19px;
            letter-spacing: 1px;
        }

        &__item:not(:last-child) {
            margin-right: 32px;
        }
    }
}

.search-field {
    background-color: rgba(247, 247, 247, 1);
    height: 47px;
    width: 580px;
    border-radius: 3px;

    &::after {
        content: url('/img/search.svg');
        position: absolute;
        right: 0;
    }
}

.nav {

    &__list {
        display: flex;
    }
}

.header__column {
    &-content {
        display: flex;
        align-items: center;
    }
}

.column-3 {
    margin-top: -2px;
}

.column-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart {
    background-color: rgba(242, 218, 145, 1);
    border-radius: 25px;
    display: inline-block;
    text-align: center;
    width: 22px;
    height: 22px;
    position: relative;
    margin-top: 3px;
}

.greeting {
    font-size: 13px;
    display: inline-block;
    margin-top: 6px;
    margin-right: 40px;
    letter-spacing: 0.3px;
}

.cart::before {
    content: url('/img/cart.svg');
    position: absolute;
    right: 30px;
    top: -1px;
}

.header-mobile {
    display: none;
}

@media (max-width: 800px) {
    .header {
        display: none;
    }

    .header-mobile {
        display: flex;
        flex-direction: column;
        position: fixed;
        background-color: white;
        width: 100%;
    }
    .mobile__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mobile__bottom {
        display: none;
    }

    .burger {
        display: flex;
        flex-direction: column;

          &__line {
              width: 20px;
              height: 2px;
              background-color: black;
      
              &:not(:last-child) {
              margin-bottom: 3px;
              }
          }
      }

      .mobile__left {
          display: flex;
      }

      .show-search {
          display: block;
      }

      .mobile__search {
        background-image: url('/img/search.svg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 14px;
      }

      .close-icon {
          background-image: url('/img/close.svg');
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          width: 14px;
      }

      .mobile {
        &-nav {
            position: relative;
            display: block;
        }
    }
}

.mobile-menu__content {
    background-color: white;
    width: 90%;
    height: 100%;
}
.mobile-menu__wrapper {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.3s;
}

.mobile-menu__top {
    text-align: center;
    position: relative;
}

.close-btn {
    position:absolute;
    left: 0;
    background-image: url('/img/close.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
}

.mobile__btn::after {
    content: url('/img/arrow.svg');
    position: absolute;
    right: 0;
    display: block;
}

.sign-up::before {
    border-left: 1px solid black;
    height: 10px;
    content: " ";
    margin-left: -20px;
    position: absolute;
}

.location::before {
    content: url('/img/location.svg');
}

.nav-mobile--level-2 {
    display: none;
}

.nav-mobile--level-3 {
    display: none;
}

.nav__caption {
    display: flex;
    justify-content: space-between;
}


