.header {

    &__top {
        position: relative;
        text-align: center;

        &--stores {
            position: absolute;
            right: 0;
            background-image: url('../img/location.svg');
            background-position: left center;
            background-repeat: no-repeat;
            background-size: 14px 14px;
            padding-left: 16px;
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
    }
}

.nav {

    &__list {
        display: flex;
    }
}

.column-2 {
    display: flex;
    flex-direction: column;
}

.cart::before {
    content: url('/img/cart.svg');

}

.header-mobile {
    display: none;
}

@media (max-width: 800px) {
    .header {
        display: none;
    }

    .header-mobile {
        display: flex;
        flex-direction: column;
        position: fixed;
        background-color: white;
        width: 100%;
    }
    .mobile__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mobile__bottom {
        display: none;
    }

    .burger {
        display: flex;
        flex-direction: column;

          &__line {
              width: 20px;
              height: 2px;
              background-color: black;
      
              &:not(:last-child) {
              margin-bottom: 3px;
              }
          }
      }

      .mobile__left {
          display: flex;
      }

      .show-search {
          display: block;
      }

      .mobile__search {
        background-image: url('/img/search.svg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 14px;
      }

      .close-icon {
          background-image: url('/img/close.svg');
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          width: 14px;
      }

      .mobile {
        &-nav {
            position: relative;
            display: block;
        }
    }
}

.mobile-menu__content {
    background-color: white;
    width: 90%;
    height: 100%;
}
.mobile-menu__wrapper {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.3s;
}

.mobile-menu__top {
    text-align: center;
    position: relative;
}

.close-btn {
    position:absolute;
    left: 0;
    background-image: url('/img/close.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
}

.mobile__btn::after {
    content: url('/img/arrow.svg');
    position: absolute;
    right: 0;
    display: block;
}

.sign-up::before {
    border-left: 1px solid black;
    height: 10px;
    content: " ";
    margin-left: -20px;
    position: absolute;
}

.location::before {
    content: url('/img/location.svg');
}

.nav-mobile--level-2 {
    display: none;
}

.nav-mobile--level-3 {
    display: none;
}

.nav__caption {
    display: flex;
}


