@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: "poppins";
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
}

.site-container {
  overflow: hidden;
}

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

.container {
  max-width: 1200;
  margin: 0 auto;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: white;
}
.header__top {
  position: relative;
  text-align: center;
  padding: 4px 0;
  background-color: #f7f7f7;
}
.header__top--stores {
  position: absolute;
  right: 22px;
  font-size: 10px;
  font-weight: 400;
  line-height: 16.5px;
  background-image: url("../img/location.svg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 13px 13px;
  padding-left: 17px;
}
.header__top--delivery {
  font-size: 11px;
  line-height: 16.5px;
  letter-spacing: 0.8px;
}
.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 108px;
  margin-top: 24px;
  padding: 0 22px;
  background-color: #fff;
}
.header__logo {
  font-size: 38px;
  line-height: 40px;
  font-weight: 600;
  letter-spacing: 0.8px;
  color: #333333;
}
.header .nav {
  margin-top: 26px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
.header .nav__item {
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 1px;
}
.header .nav__item:not(:last-child) {
  margin-right: 32px;
}

.search-field {
  background-color: #f7f7f7;
  height: 47px;
  width: 580px;
  border-radius: 3px;
}
.search-field::after {
  content: url("/img/search.svg");
  position: absolute;
  right: 0;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__column-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column-3 {
  margin-top: -2px;
}

.column-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart {
  background-color: #f2da91;
  border-radius: 25px;
  display: inline-block;
  text-align: center;
  width: 22px;
  height: 22px;
  position: relative;
  margin-top: 3px;
}

.greeting {
  font-size: 13px;
  display: inline-block;
  margin-top: 6px;
  margin-right: 40px;
  letter-spacing: 0.3px;
}

.cart::before {
  content: url("/img/cart.svg");
  position: absolute;
  right: 30px;
  top: -1px;
}

.header-mobile {
  display: none;
}

@media (max-width: 800px) {
  .header {
    display: none;
  }

  .header-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    background-color: white;
    width: 100%;
  }

  .mobile__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .mobile__bottom {
    display: none;
  }

  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .burger__line {
    width: 20px;
    height: 2px;
    background-color: black;
  }
  .burger__line:not(:last-child) {
    margin-bottom: 3px;
  }

  .mobile__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .show-search {
    display: block;
  }

  .mobile__search {
    background-image: url("/img/search.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 14px;
  }

  .close-icon {
    background-image: url("/img/close.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 14px;
  }

  .mobile-nav {
    position: relative;
    display: block;
  }
}
.mobile-menu__content {
  background-color: white;
  width: 90%;
  height: 100%;
}

.mobile-menu__wrapper {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  overflow-x: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mobile-menu__top {
  text-align: center;
  position: relative;
}

.close-btn {
  position: absolute;
  left: 0;
  background-image: url("/img/close.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
}

.mobile__btn::after {
  content: url("/img/arrow.svg");
  position: absolute;
  right: 0;
  display: block;
}

.sign-up::before {
  border-left: 1px solid black;
  height: 10px;
  content: " ";
  margin-left: -20px;
  position: absolute;
}

.location::before {
  content: url("/img/location.svg");
}

.nav-mobile--level-2 {
  display: none;
}

.nav-mobile--level-3 {
  display: none;
}

.nav__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero {
  min-height: 681px;
  background-color: #eee;
  background-image: url("../img/hp-oh-hi.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero__title {
  display: inline-block;
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 0.3px;
  margin-top: 96px;
  color: white;
}

.news {
  text-align: center;
  background-color: #d6d6d6;
}
.news__content {
  margin-left: 3px;
  padding-bottom: 33px;
}
.news__text {
  display: inline-block;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0.5px;
  text-align: left;
  margin-top: 32px;
  margin-bottom: 14px;
}
.news__email {
  font-size: 12px;
  padding-left: 9px;
  letter-spacing: 0.3px;
  border: 1px solid gray;
  height: 32px;
  border-radius: 3px;
  width: 334px;
  margin-right: 8px;
}
.news__btn {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  width: 94px;
  height: 32px;
  border-radius: 3px;
  color: white;
  border: 1px solid black;
  background-color: black;
}

.footer {
  padding-top: 26px;
}
.footer__content {
  padding: 0 280px;
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 30px;
}
.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  margin-bottom: 12px;
}
.footer__title {
  font-family: "Cormorant";
  font-size: 15px;
  line-height: 130%;
  width: 80%;
  text-align: left;
  margin-bottom: 20px;
}
.footer__image {
  margin-right: 14px;
}
.footer__bottom {
  text-align: center;
  font-size: 10px;
  line-height: 95%;
  padding-bottom: 17px;
}

@media (max-width: 800px) {
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__column:not(:last-child) {
    border-bottom: 1px solid #ebebeb;
  }
  .footer__title::after {
    content: url("/img/arrow.svg");
    position: absolute;
    right: 0;
    margin-top: -15px;
    display: block;
  }
  .footer__list {
    display: none;
  }

  .socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .show {
    display: block;
  }

  .expanded::after {
    content: url("/img/arrow.svg");
    position: absolute;
    right: 3px;
    margin-top: -15px;
    display: block;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}/*# sourceMappingURL=styles.css.map */